<div id="corpo">

	<div id="menuLateral" th:replace="fragments/_menuLateral"></div>

	<div id="corpoPagina" class="row justify-content-around zeroMargPad "
		style="margin-top: 70px;">

		<div class="container card">
			<form class="card-block">
				<div class="row">
					<div class="col-12">
						<ul class="nav nav-tabs" role="tablist" id="abasNavegacao">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#dadosPesquisa" role="tab">Dados
									Pesquisa</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#caracteristicasLocal" role="tab">Resultado</a></li>
						</ul>
						<br />
					</div>
				</div>

				<div class="tab-content">
					<div class="tab-pane active" id="dadosPesquisa" role="tabpanel">

						<div class="form-group row">
							<label for="tipoPesquisa" class="col-sm-2 col-form-label">Tipo
								Pesquisa</label>
							<div class="col-sm-2">
								<select class="form-control" id="codNatFim">
									<option>Nome/Nome da Mãe</option>
									<option>RG</option>
									<option>CPF</option>
									<option>CNH</option>
								</select>
							</div>

							<div id="corpoPesquisa">

								<div class="form-group row">
									<label for="Ponto de Referencia"
										class="col-sm-2 col-form-label">Parâmetro</label>
									<div class="col-sm-10">
										<input type="referencia" class="form-control" id="referencia"
											placeholder="Referencia" />
									</div>
								</div>

								<div class="row justify-content-center">
									<button type="submit" class="btn btn-primary">Salvar</button>
								</div>



							</div>

						</div>
					</div>

					<div class="tab-pane" id="resultadoPesquisa" role="tabpanel">

						<p>Resultado da Pesquisa</p>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>