<div id="corpo">

	<div id="menuLateral" th:replace="fragments/_menuLateral"></div>

	<div id="corpoPagina">
		<div class="row justify-content-around zeroMargPad "
			style="margin-top: 70px;">

			<div
				class="card col-11 col-sm-8 col-md-5 col-lg-5 col-xl-5 zeroMargPad"
				th:each="envolvido : ${ocorrencia.envolvidos}"
				style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;"
				th:onclick="'executaAjaxGet(\'/envolvido/obter/' + ${envolvido.codigoSequencial} + '\',\'corpoPagina\',\'\',\'\')'">
				<div class="card-block">
					<h5 class="card-text" th:text="${envolvido.nome}">Nome</h5>
					<h5 class="card-text" th:text="${envolvido.rG}">Nat inicial</h5>
				</div>
			</div>
		</div>
		<div class="row justify-content-center" >
			<div class="col-1">
				<a class="centralizado"
					th:onclick="'executaAjaxGet(\'/envolvidos/pesquisar\',\'corpo\',\'\',\'\')'">
					<span> <svg width="40" height="40">
  					<circle cx="50%" cy="50%" r="19" stroke="black" stroke-width="2"
								fill="#0275D8" />
  					<text fill="yellow" font-size="25" font-family="Verdana" x="10"
								y="29">+</text>
				</svg></span>
				</a>
			</div>
		</div>


	</div>
</div>
