<div id="menuSuperior" class="navbar-collapse collapse">
	<ul class="navbar-nav">

	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a class="btn btn-primary" href="/">
				<span class="fa fa-home fa-2x"></span><span style="float: right; margin-top: 3px;margin-left: 7px;  font-size: 13pt"> INÍCIO</span>
		</a></li>
		<li class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown">
				<img th:src="'data:image/jpeg;base64,' + ${dadosPM.foto}"
					alt="HTML5 Icon" width="30" height="30" th:class="rounded-circle" /><span
					th:text="'  ' + ${dadosPM.posto.sigla} + ' ' + ${dadosPM.nomeGuerra}">Blablabla</span><span
					class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Item 1</a></li>
				<li><a class="dropdown-item" href="#">Item 2</a></li>
				<div class="dropdown-divider"></div>
				<li><a class="dropdown-item" href="/logout"><span class="fa fa-power-off"></span><span style="margin-left: 10px;  font-size: 13pt">Sair</span></a></li>
			</ul>
		</li>
	</ul>
</div>