		<script src='/webjars/jquery/3.1.1/jquery.min.js'></script>
		<script src='/static/js/bootstrap.min.js'></script>
		<script src='/webjars/datatables/1.10.13/js/jquery.dataTables.min.js'></script>
		<script src='/static/js/bootstrap-multiselect.js'></script>
		<script src='/static/js/jquery.datetimepicker.full.min.js'></script>
		<!-- <script src='/static/js/metisMenu.min.js'></script> -->
		<!-- <script src='/static/js/sb-admin-2.js'></script> --> 
		<!-- Custom Script -->
		<script src='/static/js/scripts.js'></script>
		