		<script src="/static/js/jquery.min.js"></script>
		<!-- <script src="/static/js/jquery-migrate-3.0.0.js"></script> -->
		<script src="/static/js/tether.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src='/static/js/bootstrap-multiselect.js'></script>
		<script src='/static/js/jquery.datetimepicker.full.min.js'></script>
		<!-- <script src='/static/js/jquery.mobile-1.4.5.min.js'></script> -->
		<script src='/static/js/jquery.event.move.js'></script>
		<script src='/static/js/jquery.event.swipe.js'></script>
		<script src='/static/js/jquery.form.js'></script>
		<script src="/static/js/scripts.js"></script>