.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    margin-top: 50px;
}

.centralizado {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

body, html {
  height:100%;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

.multiselect-container {
        width: 100%;
        height: 30;
        
    }
.multiselect-container > li > a { 
     white-space: normal;
}


.fieldError {
	border: 1px solid red;
}

ul.errorlist {
	border: 1px dotted #333;
	margin: 10px 10px 50px 10px;
	padding: 10px;
}

ul.errorlist li {
	list-style: none;
	background-color: #f2d768;
	padding: 5px;
	margin: 3px 0px;
}

.semBorda {
	border-style: hidden;
}