<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content="" />
<meta name="author" content="" />

<title>BOPMTC - Protótipo Web</title>

<div th:replace="fragments/_css" />

</head>

<body>

	<div id="barraSuperior" class="container-fluid zeroMargPad">
		<div
			class="row navbar-inverse fixed-top bg-primary align-items-center zeroMargPad"
			style="text-align: center;">
			<div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 zeroMargPad"
				style="text-align:center;">
				<button class="btn btn-outline-secondary my-2 my-sm-0"
					style="height: 40px; width: 60px;" onclick="navClick()">

					<i class="fa fa-bars fa-2x" style="margin: -4px -5px;" aria-hidden="true"></i>

				</button>
			</div>
			<div class="col-6 col-sm-8 col-md-8 col-lg-10 col-xl-10 zeroMargPad"
				style="text-align: center;">

				<svg class="" width="120" height="60" viewBox="0 0 30 15"
					style="margin-bottom: -7px;">
							
							<polygon points="6,0 30,0 24,15 0,15" style="fill:#ffffff;" />
								<image xlink:href="/static/images/policia_symbol.png"
						height="100%" width="100%" />   
	
				</svg>

			</div>
			<div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 zeroMargPad"
				style="text-align:center;">
				<button class="btn btn-outline-secondary my-2 my-sm-0 "
					style="height: 40px; width: 60px;" onclick="executaAjaxGet('ocorrencia/listar', 'corpo', '', '')">
					<i class="fa fa-home fa-2x" style="margin: -4px -5px;" aria-hidden="true"></i>
				</button>
			</div>

		</div>
	</div>


	

	<div id="corpo" th:replace="ocorrencia/listarOcorrencias">
		
	</div>


	<div id="resultLoading" style="display: none">
		<div>
			<img src="/static/images/ajax-loader.gif"></img>
			<div>Carregando</div>
		</div>
		<div class="bg"></div>
	</div>

	<div th:replace="fragments/_scripts" />
</body>
</html>
