<!DOCTYPE html>
<html id="principal" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="description" content="" />
<meta name="author" content="" />

<title>Entrar</title>

<div th:replace="fragments/_css" />

</head>

<body>
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-10 col-sm-6 col-md-6 col-lg-4 col-xl-4">
				<form role="form" action="login" th:action="@{/login}"
					th:object="${formLogin}" method="post">
					<h2>BOPMTC - Login</h2>
					<fieldset>
						<div class="form-group">
							<label for="Cpf" class="sr-only">CPF</label> <input
								class="form-control" placeholder="Cpf" name="username"
								type="text" autofocus="true" th:field="${formLogin.username}"
								value="" required="true" />
						</div>
						<div class="form-group">
							<label for="Senha" class="sr-only">Senha</label> <input
								class="form-control" placeholder="Senha" name="password"
								type="password" th:field="${formLogin.password}" value=""
								required="true" />
						</div>
						<div class="form-group">
							<button type="submit" value="Entrar"
								class="btn btn-lg btn-primary btn-block">Entrar</button>
						</div>
						<div th:if="${param.error}">
							<h5>Erro na autenticação.</h5>
						</div>
						<div th:if="${param.logout}">
							<h5>Sessão encerrada.</h5>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
	



	<div th:replace="fragments/_scripts" />
</body>

</html>

